header {
  padding: 20px 0 51px 0;
  @media (max-width: 768px) {
    padding: 20px 0;
  }

  .logo {
    max-width: 208px;
    margin: 0 auto;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.header-betus {
  padding: 20px 0;
  position: relative;
  z-index: 1;
  .logo {
    max-width: 125px;
  }
}

.header-1win {
  padding: 20px 0;
  position: relative;
  z-index: 1;
  .logo {
    max-width: 116px;
  }
}
