.hero {
  padding: 50px;
  background-image: url(../images/background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .hero_cotent {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
    padding: 50px 25px;
    text-align: center;
    border-radius: 15px;
    background: rgba(0, 39, 62, 0.2);

    h1 {
      color: #fff;
      font-size: 30px;
      font-weight: 600;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      span {
        color: #fff;
        font-size: 33.636px;
        font-style: italic;
        font-weight: 800;
        line-height: normal;
        text-transform: uppercase;
        background-color: #0080f4;
        padding: 4px;
        transform: rotate(-1deg);
      }
    }
    p {
      color: #fff;
      text-align: center;
      font-family: Rubik;
      font-size: 18px;
      line-height: 1.39;
      margin: 25px 0;

      span {
        color: #fff;
        font-weight: 700;
        line-height: 1.39;
      }
    }

    .hero_promo {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
    a {
      color: #fff;
      text-align: center;
      font-size: 25px;
      font-weight: 800;
      border-radius: 100px;
      border: 1px solid #ff3a4b;
      background: linear-gradient(180deg, #d60416 0%, #ff3a4b 100%);
      box-shadow: 0 10px 30px 0 rgba(255, 58, 75, 0.5);
    }
  }
}
